@import '../components/global';

.EditTour{
    text-align: center;
    font-family: $primary-font;
    margin: 3% auto;
    width:800px;

    & table{
        margin: auto;
        
        tr{
            th{
                
                    text-align: left;
                
            }
        }
    }
}