@import '../components/global';

@import '../components/global';

.AddEditTours {
  @include flex(row, nowrap, flex-start, center);
  font-family: $primary-font;
  padding-left: 100px;

  background-image: url('../components/Images/palawan.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;


  .container {
    width: 20%;
    @include flex(column, nowrap, center, center);
    border: 1px solid rgb(184, 182, 182);
    height: 60vh;
    margin: 0 0 60px 80px;
    position: relative;
    gap: 25px;
    background-color: rgba(226, 226, 226, 0.459);
    border-top: .1px;
    box-shadow: 2px 3px rgb(116, 115, 115);
    border-radius: 15px;

    h3 {
      position: absolute;
      top: 10px;
      left: 10px;
      border-bottom: 2px solid rgb(209, 209, 209);
      text-transform: uppercase;

      span {
        color: #2B65EC;
      }
    }

    .AddEdit-input {
      width: 150px;
      height: 40px;
      border-radius: 10px;
      border: 1px solid rgb(105, 101, 101);
      padding-left: 10px;
      transition: width 0.4s ease-in-out;
      background-color: transparent;
    }

    .AddEdit-input::placeholder {
      text-align: center;
      font-family: $primary-font;
    }


    .AddEdit-input:focus {
      outline: none !important;
      width: 80%;
      border: 2px solid #2b65ec8f;

    }

    .AddEdit-input:hover {
      width: 80%;
      border: 2px solid #2b65ec8f;
      outline: none !important;

    }

    .AddEdit-description {

      width: 160px;
      height: 150px;
      transition: width 0.4s ease-in-out;
      resize: none;
      padding: 10px;

    }

    .AddEdit-description::placeholder {
      padding-top: 50px;
      text-align: center;
      font-family: $primary-font;
    }

    .AddEdit-description:focus {
      width: 80%;
      outline: none !important;
      border: 2px solid #2b65ec8f;

    }

    .AddEdit-description:hover {
      width: 80%;
      border: 2px solid #2b65ec8f;
      outline: none !important;
    }


    .duration-price {

      &__input {
        width: 110px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid rgb(105, 101, 101);
        padding-left: 10px;
        transition: width 0.4s ease-in-out;
        margin: 10px;
        font-family: $primary-font;
        background-color: transparent;

      }

      &__input:hover {
        width: 150px;
        border: 2px solid #2b65ec8f;
        outline: none !important;
      }

      &__input:focus {
        width: 180px;
        border: 2px solid #2b65ec8f;
        outline: none !important;
      }
    }

    .duration-price::placeholder {
      text-align: center;
      font-family: $primary-font;
    }

    .AddEdit-btn {
      width: 60px;
      align-self: flex-end;
      margin-right: 20px;
      height: 30px;
      cursor: pointer;
      border-radius: 8px;
      background-color: transparent;
      border: 1px solid rgb(105, 101, 101);
      font-family: $primary-font;
    }

    .AddEdit-btn:hover {
      background-color: #a3a3a38f;
      border: 2px solid #2b65ec8f;
    }
  }
}