@import '../components/global.scss';

.Details {

  width: 60%;
  margin: auto;
  font-family: $primary-font;
  padding-bottom: 20px;

  h1 {
    margin: 30px 0;
    text-align: center;
  }

  .Tour-Details {

    &__images {
      @include flex(row, nowrap, left, left);
      width: 100%;
      height: 400px;

      .Tour__image {
        flex: 1;
        height: 405px
      }

      .Tour__images {
        @include flex(row, wrap, center, center);
        width: 50%;




        div {
          width: 49%;
          height: 50%;
          margin-left: 5px;
          margin-bottom: 5px
        }

      }


    }

    &__documentation {
      @include flex(row, nowrap, none, center);
      width: 100%;
      gap: 20px;
      // background-color: gray;

      & .Tour-Details__documentation-date {
        margin: 0px auto;
        @include flex(column, nowrap, center, center);
        border: 1px solid rgba(207, 207, 207, 0.986);
        padding: 20px;
        border-top: 0.1px;
        box-shadow: 2px 3px rgba(207, 207, 207, 0.986);

        & h3 {
          color: #2B65EC;
          font-size: 25px;
          text-align: center;
        }

        & .button {
          text-align: center;
          background-color: rgb(201, 40, 40);
          color: white;
          border: none;
          width: 150px;
          height: 50px;
          cursor: pointer;
          border-radius: 5px;
          transition: width .25s ease-in-out
        }

        & .button:hover {
          width: 200px;
          border: 1px solid black;

        }
      }

      &-info {
        width: 50%;
        // background-color: red;
        height: 100%;
        @include flex (column, nowrap, center, center);

        .Details-information {
          height: 50%;
          // background-color: green;
          width: 100%;
          padding-top: 20px;

          .Details-title {
            color: #2B65EC;
            font-size: 1.5rem;
          }



          .Details-container {
            @include flex(row, wrap, center, center);
            width: 100%;




            &__info {
              @include flex(row, nowrap, none, center);
              width: 50%;
              height: 50%;



              img {
                width: 40px;
              }

              div {
                margin: 40px;
                padding: 10px;

                p {
                  margin: 5px 0;
                  text-transform: capitalize;
                }
              }


            }
          }
        }

        .Details-description {
          // background-color: gray;
          width: 100%;
          height: 50%;
          padding-top: 20px;

          .Details-title {
            margin-bottom: 20px;
            color: #2B65EC;
            font-size: 1.5rem;
          }

          p {
            line-height: 30px;
            letter-spacing: 2px;
          }
        }


      }


    }
  }

  .Reviews {


    margin-top: 50px;

    h3 {
      color: #2B65EC;
      font-size: 1.5rem;
    }

    .Tour-Review {
      padding: 20px;
      margin-top: 50px;
      @include flex(row, nowrap, center, center);
      border: 1px solid rgb(223, 222, 222);
      border-top: .1px;
      box-shadow: 2px 3px rgba(221, 221, 221, 0.849);


      &__image {

        img {
          width: 80px;
          height: 80px;
          border-radius: 100%;
        }
      }

      &__details {

        margin-left: 30px;



        &__name {
          font-weight: bolder;
        }

        &__rating {}

        &__date {
          font-size: 10px;
          color: rgb(142, 143, 143);
        }

        &__comment {
          line-height: 25px;
          margin-top: 20px;
        }




      }


    }
  }

}