@import '../components/global';

.Tour-History {
  width: 80%;
  margin: 10% auto;

  padding: 20px;
  position: relative;

  button {
    position: absolute;
    right: 20px;
    width: 150px;
    height: 30px;
    background-color: rgb(182, 182, 182);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  h3 {}

  .Tour-History-Content {
    margin-top: 40px;


    table {
      border: 1px solid #ddd;
      width: 100%;
      padding: 10px;



      tr {

        th {
          color: #2B65EC;

        }

        td {
          padding: 15px;

          &__actions {


            div {
              .Tour-History__actions__edit {
                width: 20px;
              }

              .Tour-History__actions__delete {
                width: 20px;
              }
            }


          }

        }
      }
    }


  }

}