@import '../components/global';

.Tour-History {
  width: 80%;
  margin: 10% auto;

  padding: 20px;
  position: relative;

  button {
    position: absolute;
    right: 20px;
    width: 150px;
    height: 30px;
    background-color: rgb(182, 182, 182);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  h3 {}

  .Tour-History-Content {
    margin-top: 40px;

    th {
      padding: 10px;
    }


    table {
      border: 1px solid #ddd;
      width: 100%;
      padding-bottom: 10px;



      .TourHistory-Head {

        background-color: rgb(216, 216, 216);

      }

      tr {


        th {
          color: #2B65EC;

        }

        td {
          padding: 15px;

          & img {
            width: 30px;
            cursor: pointer;
          }

        }
      }
    }


  }

}