@import '../global';

.SearchBar{
    text-align: center;
    margin-top: 70px;

    & h3{
        font-size: 40px; 
    }

    &__options{
        @include flex(row, wrap, center,center);
        background-color: rgb(17, 76, 134);
        width: 60%;
        padding: 20px 0;
        margin: -20px auto;
        gap:10px;

        & .searchForm{
            @include flex(column, nowrap, flex-start ,flex-start );
            gap: 5px;

            & input{
                height: 25px;
            }

            & label{
                font-size: 13px;
                color: white;
            }
            & select{
                height: 29px;
            }

            & button{
                margin-top:20px;
                height: 30px;
                width: 100px;
                border-radius: 3px;
                border: none;
                background-color: rgb(4, 122, 23);
                color: white;
                font-weight: bold;
            }

            &__date{
                margin-top: 20px;
            }
        }

    }

}