@import '../global';

.TopTours {
    font-family: $primary-font;

    margin-top: 6rem;

    height: 500px;

    margin: 6rem 0;

    @include flex(column, nowrap, center, center);


    & h2 {
        text-align: center;
        font-size: 3rem;

        span {
            color: #2B65EC;
        }
    }

    &__list {
        @include flex(row, wrap, center, center);
        width: 80%;
        margin: 20px auto;
        text-align: center;
        gap: 10px;

        & .entry {

            width: 160px;
            margin: 50px 4px;
            cursor: pointer;
        }

        & h3 {
            font-size: 1.2rem;
        }

        & img {
            width: 100%;
            border-radius: 5px;
            transition: 0.5s;
            border-radius: 5px;
            margin: 10px 8px;

            & h3 {
                font-size: 1.2rem;
            }

            & img {
                width: 100%;
                border-radius: 5px;
            }


        }

        & .entry:hover {
            width: 250px;
            cursor: pointer;
        }


    }

    & .entry:hover {
        width: 250px;
        transition: 0.4s;

    }
}