@import '../global';

.Tours {

    @include flex(row, wrap, center, center);

    .TourPackages {
        cursor: pointer;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        width: 300px;
        margin-bottom: 20px;
        @include flex(column, nowrap, center, center);
        border: 1px solid rgb(208, 208, 208);
        font-family: $primary-font;
        margin: 80px 50px;
        box-shadow: 2px 4px #d0d0d0;

        &-img {

            img {


                border-radius: 20px;
                height: 400px;


            }
        }

        &-list {


            padding: 20px;

            h3 {
                color: #2B65EC;
                margin-bottom: 15px;

            }

            &__rate {
                color: #f18a23;
            }

            &__location {
                color: #646D7E;
                margin: 10px 0;
            }

            &__review {
                color: rgb(144, 144, 144);
                font-size: .7rem;
                margin-left: 12px;
            }

            h5 {
                text-transform: uppercase;
                letter-spacing: 2.5px;

            }

            &__description {
                font-size: .9rem;
                margin-top: 20px;
                color: #646D7E;

            }

        }

    }

    .stars {
        position: relative;

        white-space: nowrap;

        svg {
            width: 20px
        }
    }

    .cover {
        background: white;
        height: 100%;
        overflow: hidden;
        mix-blend-mode: color;
        position: absolute;
        top: 0;
        right: 0;
    }

    svg {
        fill: #f2b91f;
    }

}